a, a:hover, h1, h2, h3, h4, h5, h6 {
	color: #fff;	
}

body {
	background-image: none;
	background-color: #000000;
}

body > .container {
	padding: 0px;
	max-width: 1000px;
	background: #000000;
}

.content {
	padding: 10px;
	display: inline-block;
	border-left: 1px solid #000000;
}

.postlist {
	padding: 10px;
	width: 20%;
	float: left;
	overflow: auto;
	border-right: 1px solid #222;
}

.navigation {
	max-width: 1000px;
	height: 128px;
	padding-top: 100px;
	margin: 0px auto 10px auto;
	text-align: center;
	background-image: url('../images/site/header.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

.nav-pills {
	width: auto;
	display: inline-block;
}

.nav-pills > li > a {
	font-size: 16px;
	font-family: "Titillium Web", Helvetica, Arial, sans-serif;
	margin: 5px;
	width: auto;
	text-transform: uppercase;
	color: #CCC;
	text-shadow: 2px 2px 0px #000;
}

@media (min-width: 768px) {
  .nav-pills > li > a {
    width: 80px;
  }
}

.nav-pills > li > a:hover, .nav-pills > li.active > a:hover {
	background: none;
	color: #FFFFFF;
}

.nav-pills > li.active > a {
    background: none;
}
