body {
	background-color: #000;
	color: #efefef;
}

footer {
	margin: 50px 0;
}

.well {
	background-color: #222;
	border-color: #111;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container > .row > .col-lg-8 img {
	max-width: 100%;
	margin: 1em auto;
}

.navbar > .container {
	background-image: url('../images/site/header.jpg');
	background-position: top center;
	background-repeat: no-repeat;

	height: 160px;
	margin-top: 20px;
}

.navbar > .container .nav {
	width: 100%;
	display: flex;
	position: relative;
	top: 100px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
	background-color: transparent;
}

.navbar > .container li {
	flex: 1;
	text-align: center;
}

.navbar > .container li > a {
	text-transform: uppercase;
}

.navbar-inverse {
	background-color: transparent;
}

.modal-body > img {
	max-width: 100%;
	max-height: 100%;
}

.modal-content {
	background-color: #222;
}

.modal-body {
	text-align: center;
}

.modal-dialog {
	width: 80%;
}

.close {
	color: #fff;
}

.modal-footer > .btn-default {
	color: #efefef;
	border-color: #111;
	background-color: #111;
}
