---
layout: page
title : News
header : News
tagline : These are all the news about The Vongott Chronicles 
group: navigation
---
{% include JB/setup %}

<ul>
	{% for post in site.posts %}
		<li>
			{{ post.date | date: "%Y.%m.%d" }} | <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
			
			{% if post.content contains '<!--more-->' %}
				{{ post.content | split:'<!--more-->' | first }}
			{% else %}
				<!-- Case for when no excerpt is defined -->
			{% endif %}
		</li>
	{% endfor %}
</ul>