<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include nav.html %}
    		<div class="container container-blog">
        		<div class="row">
            			<div class="col-lg-8">
					{% if !page.date %}
						<h2>{{ page.title }}</h2>
					{% endif %}

					{{ content }}
            			</div>

				<div class="col-lg-4">
					<div class="well">
						{% for post in site.posts %}
							<p>
								{{ post.date | date_to_string }}
								<br / >
								<a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
							</p>
						{% endfor %}
					</div>
				</div>
        		</div>
		</div>
		
		<div id="image-modal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h3 class="modal-title">Heading</h3>
					</div>
					<div class="modal-body">

					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
    		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>	
		
		<script>
			$('.col-lg-8 img').addClass("thumbnail img-responsive");
			$('.col-lg-8 img').click(function(){
  				$('.modal-body').empty();
  				var title = $(this).attr("alt");
  				$('.modal-title').html(title);
				$( '<img src="' + $(this).attr("src") + '" />' ).appendTo('.modal-body');
  				$('#image-modal').modal({show:true});
			});
		</script>
	</body>
</html>
